<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Startbbs轻量微社区系统</title>
<meta name="keywords" content="Startbbs轻量微社区系统,微社区,开源中国,论坛程序">
<meta name="description" content="Startbbs - a simple &amp; lightweight Forum。">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/public/static/home/css/global.css" media="all">
<link rel="stylesheet" href="/public/static/home/css/style.css" media="all">
</head>
<body>
<header>
	<div class="group">
	    <div class="float-left">
			<a href="/">
				<img src="/public/static/default/images/logo.png" alt="layui">
	      
			</a>
		</div>
	    <div class="float-right nav">
			<a href="https://www.kancloud.cn/startbbs/stb2_x/543147" target=_blank>手册文档</a>
			<a href="/index.html">社区交流</a>
			<a href="">插件</a>
		</div>
	</div>
</header>
<section class="text-center">
	<h2>StartBBS轻量微社区系统</h2>
	<p>基于Thinkphp5.15 & Layui开发的一套优雅、开源、轻量社区系统，自带文章系统。</p>
	<p>	<a href="#" class="button big color-success">在线演示</a>  <a href="#" class="button secondary big">立即下载</a></p>
	<p class="small italic color-green">当前版本：{:config('version')} 更新：{:config('publish_time')}</p>
</section>
<div class="row gutters about">
    <div class="col col-3">
		<fieldset>
		<legend>轻量小巧</legend>
		<p>这是一个轻量的系统，体积小速度快。</p>
		</fieldset>
	</div>
    <div class="col col-3">
		<fieldset>
		<legend>逻辑简单</legend>
		<p>用尽可能简单的逻辑和代码去实现功能，减少学习成本。</p>
		</fieldset>
	</div>
    <div class="col col-3">
		<fieldset>
		<legend>代码开源</legend>
		<p>基于thinkphp5.15,开源免费，易于二次开发</p>
		</fieldset>
	</div>
    <div class="col col-3">
		<fieldset>
		<legend>负载高效</legend>
		<p>负载超强，榨干硬件的全部运算性能</p>
		</fieldset>
	</div>
</div>

<footer class="text-center">
    <p>友情链接：
    </br>&copy; 2018 <a href="http://www.startbbs.com/">startbbs.com</a> 版权所有 | QQ群：645590178   鲁ICP备15004481号
    </p>
</footer>
<script src="/public/static/common/js/jquery.min.js"></script>
</body>
</html>