/*reset css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td { 
    padding: 0;
    margin: 0; 

}
/*a, a:link, a:visited, a:hover, a:active{
	color:#778087;
    text-decoration:none;
}*/
a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

table { 
    border-collapse: collapse; 
    border-spacing: 0; 
}
blockquote{
	font-weight: normal;
	font-size:14px;
}
fieldset,img { 
    border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style: none; 
} 
caption,th { 
    text-align: left; 
} 
/*h1,h2,h3,h4,h5,h6 { 
    font-weight: normal;
    font-size: 100%; 
}*/
q:before,q:after { 
    content:”; 
} 
abbr,acronym { 
    border: 0; 
}


body{
	padding-top: 70px;
	background:#E0E0E0/* url(../images/bg.png) bottom left repeat*/;
	font-family: "FontAwesome","Arial","Microsoft YaHei","宋体",sans-serif;
	font-size: 14px;

}

h1{font-size:25px}
h2{font-size:22px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
small {
    font-size: 12px;
}

.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w10,.w11,.w12,.w13,.w14,.w15,.w16,.w17,.w18,.w19,.w20,.w21,.w22,.w23,.w24 {position:relative;min-height:1px;padding-right:5px;padding-left:15px;float: left;}
.w1{width:4.66666667%}.w2{width:8.33333333%}.w3{width:12.5%}.w4{width:16.66666667%}.w5{width:20.83333333%}.w6{width:25%}.w7{width:29.16666667%}.w8{width:33.33333333%}.w9{width:37.5%}.w10{width:41.66666667%}.w11{width:41.66666667%}.w12{width:50%}.w13{width:54.16666667%}.w14{width:58.33333333%}.w15{width:62.5%}.w16{width:66.66666667%}.w17{width:70.83333333%}.w18{width:75%}.w19{width:79.16666667%}.w20{width:83.33333333%}.w21{width:87.5%}.w22{width:91.66666667%}.w23{width:95.83333333%}

.container {
    max-width: 970px;
}
.topic-list-heading {
    margin: 0 0 5px 0;
}

.topic-list-heading a{
    font-size: 16px;
    color: #444;
}
.topic-list,.reply-list{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.media{
	margin-top: 10px;
}
.panel-default .topic-detail-heading{
    background-color: #fff;
}

.topic-detail-heading h2{
    font-size: 22px;
    margin: 5px 0;
}

.topic-detail-heading img{
    width: 64px;
}
.reply-body{
	padding-left: 20px;
}
.red{
	color: #FF0000;
}

.panel-heading {
    border-bottom: 1px solid #eee;
    font-size: 18px;
}
.panel-body p img,.reply-body img{
    max-width: 100%;
    height: auto;
}
.panel-body{
	word-wrap: break-word; 
	word-break: normal; 
}
.badge-info{background-color:#AAB0C6;color:white}
.badge-info a{color:white}
ul.user-list{margin-top:5px}
ul.user-list li{text-align:center;margin:0 8px 10px 0px;float:left;overflow:hidden;font-size:12pt}
ul.user-list li img{width:50px;height:50px;background:#fff}
.setting {
    margin-top: 20px;
    min-height: 300px;
}
.alert-avatar{
    margin-top: 20px;
}
.nav-tabs,.nav-pills{
	margin-bottom:20px;
}

.section{
	padding-bottom:10px;
	border-bottom: 1px solid #eee;
}
.section img{
	width:50px;
	height:50px;
}

.nodes{
    margin: 0 2px 8px;
}
.label-grey{
	color:#fff;
	background-color:#BFBFBF;
	font-size: 15px;
	display:inline-block;
	margin: 4px 1px;
}
.label-grey a, .label-grey a:hover,.label-default a:focus{
	color:#FFF;
}
.tag {padding:2px 2px 0px 20px;margin:10px 2px 0px 2px;background: url(../images/tag.gif) no-repeat 0 6px;color:#CCC;}
.content img,.reply_content img{display:block;height:auto;max-width:100%}
embed,object,iframe {
    width: 100%;
}
/*header*/
.navbar-default .navbar-brand  {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #11547f;
}
.navbar-default {
    background-color: #0575bd;
    border: none;
    margin-bottom: 30px;
}
.navbar-default .navbar-nav >li >a, .navbar-brand {
    padding: 18px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #1b6595;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.medium{
	width:48px;
	height:48px;
}
.smallhr{
    margin: 10px 0;
}
.link-text-muted a{
	color:#444;
}

footer {
    /*background-color: #f8f8f8; #e4e4e4 #f9fafb*/
    background-color: #3b3f45;
    color: #727880;
    /*border-top: 1px solid #edf0f3;*/
    border-top: 1px solid #dad9d5;
    padding: 10px 0;
    margin-top: 100px;
}
footer a{
	color:#727880;
}
footer a:hover{
	color:#ccc;
}
/*.media-list li:hover{background:#f6f6f6}*/