body{background-color: #eee;}
.about{
	padding: 0 100px;
}
a {
	color:#ccc;
	text-decoration: none;
}
section {
	height: auto; padding: 45px; background: #393D49;/*#24262F*/
}
legend{
	font-size:18px;
}
header{background-color: #24262F; border-bottom-color: #2F313E;padding: 10px 100px;}
section h2{color:#fff}
section p{color:#ccc}
footer a{
	color:#000;
}
.nav a{
	padding: 10px;float: left;
}
.color-green{
	color:#669900;
}
